*{
    font-family: sans-serif;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    list-style: none;
    padding: 0;
} 

.hidden {
    display: none;
}

#stage{}
#letters{}
#turns-total{}
#hint{}
#current-guess{}
body{
    background-color:aquamarine;
}

