*{
    font-family: sans-serif;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    list-style: none;
    padding: 0;
} 

.hidden {
    display: none;
}

#stage{

}



p {
   font-size: 12px;
}

#turns-total{

}

#current-guess{

}

body{
    background-color:lightgray;
}

